.JustDragIt-title {
    font-size: 34px;
    text-align: left;
    font-weight: 500;
    text-decoration: line-through;
    color: #999999;
}

.JustDragItFinal {
    font-size: 34px;
    text-align: left;
    font-weight: 500;
}