.Logo {
    width: auto;
    height: 24px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: 738px;
    width: calc(100% - 32px);
    padding: 16px 16px;
    background: linear-gradient(to bottom, 
        rgba(255,255,255,1) 0%,
        rgba(255,255,255,.8) 60%, 
        rgba(255,255,255,0) 100%
    );
}

.Header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: start;
}

.LogoText {
    width: auto;
    height: 18px;
}

@media screen and (min-width: 738px) {
    .Header {
        width: 100%;
        padding: 16px 0px;
    }
}


